* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
header {
  background-image: linear-gradient(to right, #FE4800, #FFCE00);
  box-shadow: 0px 3px 6px rgba(0, 0, 00, 0.2);
  padding: 15px;
}
h4.header-title{
  display: inline-block;
  color: #FFF;
  font-style: italic;
  text-transform: uppercase;
}
div.placeholder{
  justify-content: center;
  align-items: center;
  display: flex;
}
h4.instructions{
  padding-top: 10px;
}
input.url{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button.submit-btn{
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
}
h4.comment {
  background-color: #F3F3F3;
  word-break: break-all;
  border-style: groove;
}
h4.comment:nth-child(2n) {
  background-color: #FFF;
  word-break: break-all;
  border-style: groove;
}
div.button-holder{
  display: flex;
  flex-direction: column;
}
a.button-link{
  padding-bottom: 10px;
  padding-top: 10px;
}
button.href-button{
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
}
div.video-data{
  align-items: center;
  display: flex;
  flex-direction: column;
}
img {
  border-radius: 10px;
  border: 1px solid #000;
  padding: 5px;
}
div.chartHolder{
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  img {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
  }
}  
  
}