{% extends "index.html" %}
{% block title %}
<div class="titleHolder">
    <h4 class="header-title">Negative Comments</h4>
    <a href="\select" style="text-decoration: none; color: white"><h5>- Return to Select</h5></a>
</div>
{% endblock %}

{% block body %}
{% for comment in negativeComments %} 
    <h4 class="comment">{{ comment.0 }}</h4>
    <h4 class="comment">Sentiment Score: {{ comment.1 }} || Positive: {{comment.2}}% || Negative: {{comment.3}}% || Neutral: {{comment.4}}%</h4>
{% endfor %} 
{% endblock %}