{% extends "index.html" %}
{% block title %}
<div class="titleHolder">
    <h4 class="header-title">Video Data</h4>
    <a href="\select" style="text-decoration: none; color: white"><h5>- Return to Select</h5></a>
</div>
{% endblock %}
{% block body %}
    <h4 class="comment">{{title}}</h4>
    <h4 class="comment">Channel Name: {{channel}} || Published: {{publishDate}}</h4>
    <div class="video-data">
        <img src={{thumbnail}} alt="">
    </div>
    <h4 class="comment">Video Description: {{description}}</h4>
    <h4 class="comment">Like Count: {{likeCount}}</h4>
    <h4 class="comment">View Count: {{viewCount}}</h4>
    <h4 class="comment">Average Comment Sentiment Score: {{averageSentiment}}</h4>
    <h4 class="comment">Most Positive Comment: {{highestComment.0}}</h4>
    <h4 class="comment">Sentiment Score: {{ highestComment.1 }} || Positive: {{highestComment.2}}% || Negative: {{highestComment.3}}% || Neutral: {{highestComment.4}}%</h4>
    <h4 class="comment">Most Negative Comment: {{lowestComment.0}}</h4>
    <h4 class="comment">Sentiment Score: {{lowestComment.1 }} || Positive: {{lowestComment.2}}% || Negative: {{lowestComment.3}}% || Neutral: {{lowestComment.4}}%</h4>

{% endblock %}